:root{--gre: #afafaf;}
body{margin:0;background:#FFFFFF;color:#000000;font-family:"Ubuntu",cursive,sans-serif;}

.fdOut{opacity:0;transition:opacity 1.25s cubic-bezier(0, 1, 0.5, 1);}
.fdIn{opacity:1;}

ul{list-style:none inside none;padding:0;}
li{width:100%;}
#aData{display:none;}
input{font-family:"Ubuntu",cursive,sans-serif;padding:1px;}

#actionBar{overflow:overlay;width:100%;border-bottom:1px solid grey;}
#actionBar h3{top:-50%;transform:translateY(50%);padding-left:1.5%;float:left;margin:0;}
#actionBar p{margin:0 0 0 2.5%;float:left;text-align:center;box-sizing: border-box;top:-50%;transform:translateY(50%);color:rgb(0,100,0);}
#save{display:block;vertical-align:middle;background:#000000;color:#ffffff;border:none;float:right;}
#save:hover{background:#ffffff;color:#000000;}
#save:active{border:none;}
#save:focus,#dName:focus,#uName:focus{outline:none;}
#save div{display:table-cell;vertical-align:middle;}
#save i{padding:1%;}

#displayName,#userName{padding:1%;width:auto;}
#dName,#uName{border:none;background:var(--gre);box-shadow: 0 0 2px 2px var(--gre);margin-left:2px;}
