body {
  background: #e95420;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #5e2750;
}
#page {
  background: #ffffff;
  margin: .5% 5%;
  height: 100%;
}
#page h2 {
  display: inline-block;
  text-align: left;
  width: 30%;
  margin: 1.25%;
  color: #5e2750;
}
#greeting {
  display: inline-block;
  opacity: 0;
  float: right;
  text-align: right;
  width: 45%;
  margin: 1.25%;
  color: #5e2750;
}
#header {
  background: #e95420;
  margin: .5% 2.5%;
  padding-left: 5%;
  padding: .5% ;
}
#header a {
  text-decoration: none;
  color: #5e2750;
  padding: 0 5px;
  height: 90%;
}
#header a:hover {
  background: #5e2750;
  color: #e95420;
}
.post {
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  margin: 1.5%;
}
.post h3 {
  display: inline-block;
  color: #5e2750;
  margin: 2%;
}
.post span {
  display: inline-block;
  margin: 0;
}
.post p {
  margin: 0 0 2% 5%;
}
.btButton {
  display: block;
  border: none;
  text-decoration: none;
  background: #e95420;
  color: #5e2750;
  cursor: pointer;
  padding: .75%;
  margin: 1%;
}
.btButton:active {
  background: #5e2750;
  color: #e95420;
}
#signinButton {
  display: inline-block;
  float: right;
}
#signin-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: #777777;
  background-color: #77777777;
}
#signin-box {
  height: 65%;
  width: 25%;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 5%;
}
#signin-header {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
#signin-header i {
  height: 50%;
  margin: 6.25%;
  float: right;
}
#signin-info {
  text-align: center;
}
#username, #email, #password {
  font-family: 'Ubuntu';
  background: #ffffff;
  margin-bottom: 2.5%;
}
#username {
  display: none;
}
#email:valid {
  color: #00ab00;
}
#email:invalid {
  color: #af0000;
  background: #a7000044;
}
#signin-button, #signup-button {
  margin: 24% auto 7.5% auto;
  padding: 3.5%;
}
#signup-button {
  display: none;
  margin-top: 20%;
}
#signin-toggle, #signup-toggle {
  line-height: 1.5;
}
#signin-toggle > a, #signup-toggle > a {
  text-decoration: underline;
  cursor: pointer;
}
#signin-toggle {
  display: none;
}
